<!DOCTYPE html>
<html lang="en">
{{>links}}
<body>
  {{>navbar}}
 
  <div class="containter-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_left">
                    <p>you entered the wrong key</p>
                    <h1>error page 404 <span> page</span> was not found</h1>
                    <a href="/"><button>back now</button></a>
                </div>
                <div class="col-md-6 col-12 main_header_right"></div>

            </div>

        </div>
    </div>
</div>

{{>footer}}
</body>
</html>